/*Variables for colors*/
:root {
    --background1: #85dddd;; 
    --text1: rgb(31, 129, 28);
    --text2: black;
  }

body {
    display: flex;
    flex-direction:column; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    background-image: url("asset/6029974.jpg");
    font-weight: bold; 
    background-size: cover;
}

/*Naviation bar parametters*/
#navbarNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;

}

/*----------------Job cards---------------------*/
main {
    display: flex;
    flex-wrap: wrap;
  }
  
  /*parameters for container of cards*/
  #jobs-container {
    flex: 4;
    background-color: var(--background1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  /*job card's dimensions*/
  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 10px;
    flex: 0 0 180px;
  }
  
  .card header {
    padding: 20px;
    font-size: small;
    text-align: center;
  }
  
  /*position of text and pictures on cards*/
  .card p, a {
    text-align: center;
    text-decoration: none;
    color: var(--text2);
  }
  
  /* logo's width*/
  .card img {
    width: 100%;
  }

  /*hover efect on text below image-logo*/
  /* p:hover{
    letter-spacing: 2px;
    transition: 1s ease-in-out;
    color: var(--text1);
} */

/*Media query*/
  @media screen and (max-width: 768px) {
    main {
      flex-direction:row;
    }
  }
  
  @media screen and (max-width: 440px) {
    main {
      flex-direction:row;
    }
    .card img {
      width: 50%;
      
    }  
    /* .card p, a {
   font-size: 1px;
  } */
  }
  