/*Variables for colors*/
:root {
    --background1: #85dddd;; 
    --text1: rgb(31, 129, 28);
    --text2: black;
  }

body {
    display: flex;
    flex-direction:column; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    background-image: url("asset/6029974.jpg");
    font-size: small;
    background-size: cover;
}

/*Naviation bar parametters*/
#navbarNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;

}

/*----------------Job cards---------------------*/
.p {
    display: flex;
    flex-wrap: wrap;
  }
  
  /*parameters for container of cards*/
  .card {
    flex: 4;
    background-color: var(--background1);
    padding: 20px;
    display: inline-block;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px;
    justify-content: space-evenly;
  }
  
 
  /*job card's dimensions*/
  .p{
    border-style: solid;
    border-width: 1px;
    border-radius: 300px;
    margin-bottom: 1em;
    padding: 10px;
    flex: 0 0 100px;
    
  }
  
  .card header {
    padding: 20px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
  }
  
  /*position of text and pictures on cards*/
  .jobs-container{
    text-align: center;
    text-decoration: none;
    color: var(--text2);
   
    
  }
  
  /* logo's width*/
  .img {
    width: 70%;
  }

 

  /*hover efect on text below image-logo*/
/*  p:hover{
    letter-spacing: 2px;
    color: var(--text1);
} */

/*Media query*/
  @media screen and (max-width: 768px) {
    main {
      flex-direction:row;
    }
  }
  
  @media screen and (max-width: 440px) {
    main {
      flex-direction:row;
    }
    .card img {
      width: 50%;
      
    }  
    .card p, a {
   font-size: 1px;
  }
  }
  