/*Variables for colors*/
:root {
    --background1: rgb(61, 85, 100); 
    --background2: rgb(232, 239, 237);
    --background3: rgb(229, 239, 240);
  }
body {
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Open Sans', sans-serif;
    background-image: url("asset/login\ 2.jpg")
}

.header {
    display: flex;
    justify-content: right;
    align-items:flex-end;
    height: 7em; 
}

.nav { 
    list-style-type:none;       
}

a {
   margin: 1em;
    color: black;
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif; 
}

.login-input {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    opacity: .9;
    
}

.userName,
.password,
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    font-size: 20px;
    color: VAr(--background1);
}

#User-Name,
#Password {
    border-color: rgb(238, 244, 246);
    height: 2.5em;
    width: 15em;
    margin-bottom: .5em;
}

#logIn {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    height: 3em;
    width: 11em;
    background-color: Var(--background1);
    color: rgb(232, 239, 237);
    font-size: 20px;
    cursor: pointer;
}
