/*Variables for colors*/
:root {
    --background1: rgb(61, 85, 100); 
    --background2: rgb(232, 239, 237);
    --background3: rgb(229, 239, 240);
  }

body {
    display: flex;
    flex-direction:column; 
    background-color: Var(--background1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    background-image: url("asset/istockphoto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#navbarNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    font-family: 'Open Sans', sans-serif;
    font-size: large;

}

 .search { 
    display:flex;
    justify-content:center;
    align-items: center;
    height: 34.3em;
 }  

.findJobs {   
    font-size: 3em;
    border-radius: 15px; 
    border: 1.5px solid white;
    height: 2.5em;
    width: 10em; 
    outline: none;
    color: white;
    background-color: rgb(61, 73, 100);
    opacity: .8;
    border-color: black;
    border-width: 8px;
    border-style: double;
    font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
    
}

.findJobs:hover{
    background-color: darkgoldenrod
}



