/*Variables for colors*/
:root {
    --background1: rgb(61, 85, 100); 
    --background2: rgb(232, 239, 237);
    --background3: rgb(229, 239, 240);
  }

body {
    display: flex;
    flex-direction:column; 
    background-color: Var(--background1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    background-image: url("asset/hero\ image.jpg");
    background-repeat: no-repeat;
    

}

#navbarNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .search { 
    display:flex;
    justify-content:center;
    align-items: center;
    height: 34.3em;
 }  

.findJobs {   
    font-size: 3em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 15px; 
    border: 1.5px solid white;
    height: 2.5em;
    width: 10em; 
    outline: none;
    color: white;
    background-color: rgb(61, 85, 100);
    
    
    
}



